<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.shouheng.uix.pages">

    <application>
        <activity android:name=".image.TakePhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PictureViewTheme" />
        <activity
            android:name=".image.GalleryActivity"
            android:theme="@style/PictureViewTheme"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".CrashReportActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:process=":crash"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>